# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# bazel
bazel
bazel-*
bazel-bazel-test
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
bazel-vagrant
bazel-bazel-example
.vagrant/
Vagrantfile
.idea/
